
p.word {
    font-family: DejavuSansMono;
    font-size: 50px;
    font-weight: bold;
}

p.white {
    color : white;
}

p.black {
    color : black;
}

p.default_color {
    color : black;
}

p.red {
    color : red;
}

p.yellow {
    color : yellow;
}

p.green {
    color : green;
}

p.blue {
    color : blue;
}